/* css ver */

:root {
  --all__pra__color: #777777;
  --all__pra__size: 15px;
}

body p {
  color: var(--all__pra__color);
  font-size: var(--all__pra__size);
}

/* hero slider section styleing */

.carousel-overly-relative {
  position: relative;
}

.carousel-overly-absolute::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(4, 5, 4);
  opacity: 0.5;
}

/* hero title */
.global-btn {
  font-size: 14px I !important;
  line-height: 30px;
}

/* section gap */
.section-gap {
  margin-top: 130px;
}

/* -------------------------------------------------------------------------- */
/*                        course section styling
/* -------------------------------------------------------------------------- */

.course-info h5 {
  font-size: 20px;
}
.course-info p {
  font-size: 14px;
  line-height: 18px;
}

/* -------------------------------------------------------------------------- */
/*                        feedback section styling
/* -------------------------------------------------------------------------- */

.blockqute-icon {
  color: rgb(150, 150, 150);
}

.user-name h6 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.user-name p {
  font-size: 13px;
}

.feedback-slide .carousel-control-prev,
.feedback-slide .carousel-control-next {
  height: 30px;
  width: 30px;
  outline: blue;
  background-color: rgb(150, 150, 150);
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  z-index: 5;
}

.feedback-slide .carousel-control-prev {
  left: -1.1%;
  top: 50%;
}
.feedback-slide .carousel-control-next {
  right: -1.1%;
  top: 50%;
}

/* -------------------------------------------------------------------------- */
/*                        Footer section styling
/* -------------------------------------------------------------------------- */
